.content {
  display: flex;
  justify-content: center;
  text-align: center;

  &-wrapper {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    display: inline-block;
    padding-bottom: 5px;
  }

  p {
    width: 98%;
  }
}

.underline {
  border-bottom: 2px solid white;
}